templates/misc/nifi_monitoring.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>41c18f9d-0180-1000-35b4-d75f500c498f</groupId>
    <name>NiFi Monitoring</name>
    <snippet>
        <processGroups>
            <id>531ef4e7-37c2-3fdd-0000-000000000000</id>
            <parentGroupId>5397b1b3-9560-347f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>531ef4e7-37c2-3fdd-98e4-01f2ca449733</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>12b43ce4-ffe7-3202-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <versionedComponentId>12b43ce4-ffe7-3202-8a39-fc426f4f2a2d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1096.0</x>
                        <y>56.0</y>
                    </bends>
                    <destination>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>3cb6da09-d0ee-300d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3cb6da09-d0ee-300d-932a-28714c51ad48</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>5dbf922b-3fae-3a2e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5dbf922b-3fae-3a2e-9619-757d8dbaea73</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>13ae5a2a-016a-37d7-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <versionedComponentId>13ae5a2a-016a-37d7-b29f-10f55a8cad75</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>7f1f3f35-e968-32dd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7f1f3f35-e968-32dd-ae2c-65f56031d849</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>24216c04-a3b2-36b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>24216c04-a3b2-36b0-a365-9948ffac66cb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5f47c1ee-e46a-3ce3-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <versionedComponentId>5f47c1ee-e46a-3ce3-a423-87466ac696ad</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1096.0</x>
                        <y>208.0</y>
                    </bends>
                    <destination>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>214a35a0-63f8-3d37-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>214a35a0-63f8-3d37-9034-6ecbf8d44e2c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>splits</selectedRelationships>
                    <source>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>3cb6da09-d0ee-300d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3cb6da09-d0ee-300d-932a-28714c51ad48</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>80bfb980-05d2-3d73-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <versionedComponentId>80bfb980-05d2-3d73-9217-2dd22ce0fa1e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1096.0</x>
                        <y>368.0</y>
                    </bends>
                    <destination>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>24216c04-a3b2-36b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>24216c04-a3b2-36b0-a365-9948ffac66cb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>nifi_error</selectedRelationships>
                    <source>
                        <groupId>531ef4e7-37c2-3fdd-0000-000000000000</groupId>
                        <id>214a35a0-63f8-3d37-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>214a35a0-63f8-3d37-9034-6ecbf8d44e2c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>214a35a0-63f8-3d37-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>304.0</y>
                    </position>
                    <versionedComponentId>214a35a0-63f8-3d37-9034-6ecbf8d44e2c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Match Requirement</key>
<value>
    <name>Match Requirement</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>
    <name>Content Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>nifi_error</key>
<value>
    <name>nifi_error</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Match Requirement</key>
<value>content must contain match</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Content Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>nifi_error</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Filter Error Log Message</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>nifi_error</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                </processors>
                <processors>
                    <id>24216c04-a3b2-36b0-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>464.0</y>
                    </position>
                    <versionedComponentId>24216c04-a3b2-36b0-a365-9948ffac66cb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>
    <name>extract-text-enable-named-groups</name>
</value>
                            </entry>
                            <entry>
<key>message.body</key>
<value>
    <name>message.body</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>1024</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>true</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>extract-text-enable-named-groups</key>
<value>false</value>
                            </entry>
                            <entry>
<key>message.body</key>
<value>.*</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract Log Text</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>3cb6da09-d0ee-300d-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>144.0</y>
                    </position>
                    <versionedComponentId>3cb6da09-d0ee-300d-932a-28714c51ad48</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Line Split Count</key>
<value>
    <name>Line Split Count</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Fragment Size</key>
<value>
    <name>Maximum Fragment Size</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>
    <name>Header Line Count</name>
</value>
                            </entry>
                            <entry>
<key>Header Line Marker Characters</key>
<value>
    <name>Header Line Marker Characters</name>
</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>
    <name>Remove Trailing Newlines</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Line Split Count</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Header Line Count</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Remove Trailing Newlines</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split Log Text</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>splits</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitText</type>
                </processors>
                <processors>
                    <id>5dbf922b-3fae-3a2e-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>-8.0</y>
                    </position>
                    <versionedComponentId>5dbf922b-3fae-3a2e-9619-757d8dbaea73</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>tail-mode</key>
<value>
    <name>tail-mode</name>
</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>
    <name>File to Tail</name>
</value>
                            </entry>
                            <entry>
<key>Rolling Filename Pattern</key>
<value>
    <name>Rolling Filename Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Post-Rollover Tail Period</key>
<value>
    <name>Post-Rollover Tail Period</name>
</value>
                            </entry>
                            <entry>
<key>tail-base-directory</key>
<value>
    <name>tail-base-directory</name>
</value>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>
    <name>Initial Start Position</name>
</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>
    <name>File Location</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>
    <name>tailfile-recursive-lookup</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>
    <name>tailfile-lookup-frequency</name>
</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>
    <name>tailfile-maximum-age</name>
</value>
                            </entry>
                            <entry>
<key>reread-on-nul</key>
<value>
    <name>reread-on-nul</name>
</value>
                            </entry>
                            <entry>
<key>Line Start Pattern</key>
<value>
    <dependencies>
        <dependentValues>Single file</dependentValues>
        <propertyName>tail-mode</propertyName>
    </dependencies>
    <name>Line Start Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Max Buffer Size</key>
<value>
    <dependencies>
        <propertyName>Line Start Pattern</propertyName>
    </dependencies>
    <name>Max Buffer Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>tail-mode</key>
<value>Single file</value>
                            </entry>
                            <entry>
<key>File to Tail</key>
<value>/opt/nifi/nifi-#{nifi_version}/logs/nifi-app.log</value>
                            </entry>
                            <entry>
<key>Post-Rollover Tail Period</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Initial Start Position</key>
<value>Current Time</value>
                            </entry>
                            <entry>
<key>File Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>tailfile-recursive-lookup</key>
<value>false</value>
                            </entry>
                            <entry>
<key>tailfile-lookup-frequency</key>
<value>10 minutes</value>
                            </entry>
                            <entry>
<key>tailfile-maximum-age</key>
<value>24 hours</value>
                            </entry>
                            <entry>
<key>reread-on-nul</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Max Buffer Size</key>
<value>64 KB</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Tail NiFi APP Log</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.TailFile</type>
                </processors>
                <processors>
                    <id>7f1f3f35-e968-32dd-0000-000000000000</id>
                    <parentGroupId>531ef4e7-37c2-3fdd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>672.0</y>
                    </position>
                    <versionedComponentId>7f1f3f35-e968-32dd-ae2c-65f56031d849</versionedComponentId>
                    <bundle>
                        <artifact>nifi-slack-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.16.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>webhook-url</key>
<value>
    <name>webhook-url</name>
</value>
                            </entry>
                            <entry>
<key>webhook-text</key>
<value>
    <name>webhook-text</name>
</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>
    <name>channel</name>
</value>
                            </entry>
                            <entry>
<key>username</key>
<value>
    <name>username</name>
</value>
                            </entry>
                            <entry>
<key>icon-url</key>
<value>
    <name>icon-url</name>
</value>
                            </entry>
                            <entry>
<key>icon-emoji</key>
<value>
    <name>icon-emoji</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>webhook-text</key>
<value>:bangbang: FlowFile Failed.
	*Environment:* `#{environment}`
	*Error Message:* 
```
${message.body.0}
```
</value>
                            </entry>
                            <entry>
<key>channel</key>
<value>#nifi-alerts</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSlack</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.slack.PutSlack</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>NiFi Monitoring</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/26/2022 12:22:51 UTC</timestamp>
</template>
